.App {
  text-align: center;

}

.App-logo {
  height: 20vmin;
  pointer-events: none;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

li {
    text-align: left;
    align-items: flex-start;
}

.textButton {
    text-align: left;
    background: transparent;
    border: none !important;
    cursor: pointer;
    font-size: calc(10px + 2vmin);
    color: white;

}

#space {
    margin-bottom: 15px

}
